<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="m-r-10">
                <span class="btn btn-circle btn-lg {{infoClass}}">
                    <i class="{{infoIcon}} text-white"></i>
                </span>
            </div>
            <div>                    
                {{infoTxt}}
            </div>
            <div class="ml-auto">
                <h2 class="m-b-0 font-light">{{infoTotal}}</h2>
            </div>
        </div>
    </div>
</div>