<div class="row">
    <div class="col-md-6">
        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span class="btn btn-circle btn-lg btn-info">
                            <i class="ti-wallet text-white"></i>
                        </span>
                    </div>
                    <div>                    
                        {{lang.totMonthSales}}
                    </div>
                    <div class="ml-auto">
                        <h2 class="m-b-0 font-light">{{this.totMonthSales}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card -->
    </div>
    <div class="col-md-6">
        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span class="btn btn-circle btn-lg bg-success">
                            <i class="mdi mdi-currency-usd text-white"></i>
                        </span>
                    </div>
                    <div>
                        {{lang.totWeekSales}}
                    </div>
                    <div class="ml-auto">
                        <h2 class="m-b-0 font-light">{{totWeekSales}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card -->
    </div>
</div>